.loader {
  --c: no-repeat radial-gradient(farthest-side, rgb(110 231 183) 92%, #0000);

  width: 80px;
  aspect-ratio: 1;
  background:
    var(--c) top,
    var(--c) left,
    var(--c) right,
    var(--c) bottom;

  background-size: 20px 20px;
  animation: loader-rotate 1s infinite;
}

@keyframes loader-rotate {
  to {
    transform: rotate(0.5turn);
  }
}
