---
import BlogLayout from "@layouts/Blog.astro";
import Header from "@ui/Header.astro";
import Footer from "@ui/Footer.astro";
---

<BlogLayout
  title="Billy Le | Personal Site"
  description="I'm a JavaScript full-stack developer with a focus on front-end development. I mainly work with React and have other technical skills which includes but not limited to Node, and NoSQL Databases. Find out more through my site."
>
  <Header />
  <main></main>
  <Footer />
</BlogLayout>
