---
interface Props {
  className?: string;
}
const isDevMode = import.meta.env.DEV;

const { className = "" } = Astro.props;
---

<section id="contact" class={`relative overflow-hidden py-8 ${className}`}>
  <div class="container">
    <div class="flex flex-col flex-grow md:w-1/2">
      <h2 class="text-heading">Contact.</h2>
      <div class="space-y-8">
        <form
          class="flex flex-col space-y-4 max-w-md"
          action="https://formsubmit.co/df1748045eb83625a870a914c769ee3c"
          method="POST"
        >
          <input
            type="hidden"
            name="_next"
            value={isDevMode ? "http://localhost:3000" : "https://billyle.dev"}
          />
          <input type="hidden" name="_subject" value="New Message!" />
          <input type="text" name="_honey" class="hidden" />
          <input
            type="text"
            name="name"
            class="h-10 px-3 rounded ring-2 ring-neutral-300"
            placeholder="Name"
            required
          />
          <input
            type="email"
            name="email"
            class="h-10 px-3 rounded ring-2 ring-neutral-300"
            placeholder="Email"
            required
          />
          <textarea
            name="message"
            class="px-3 py-2 rounded ring-2 ring-neutral-300"
            rows={5}
            placeholder="What would you like to say?"
            required></textarea>
          <div class="flex justify-end space-x-2">
            <button
              type="submit"
              class="px-3 py-1 rounded text-xl text-slate-50 bg-slate-900"
              >Submit
            </button>
          </div>
        </form>
        <p class="text-gray-500">
          In a hurry? You can download <a
            target="_blank"
            href="/documents/billy_le_resume.pdf"
            download="billy_le_resume.pdf"
            class="link-hover inline-block font-bold"
            >my resume
          </a> and view it later.
        </p>
      </div>
    </div>
  </div>
  <div
    id="globeViz"
    class="hidden w-1/2 h-full md:block absolute top-0 right-0 -z-10"
  >
  </div>
</section>

<script>
  const contactsContainer = document.querySelector(
    "#contact",
  ) as HTMLDivElement;

  const observer = new IntersectionObserver(async (entries) => {
    for (const entry of entries) {
      if (entry.isIntersecting) {
        await Promise.all([
          import("three"),
          import("three-globe"),
          import("src/data/countries.json"),
        ]).then(([THREE, { default: ThreeGlobe }, countries]) => {
          const globeDiv = document.getElementById(
            "globeViz",
          ) as HTMLDivElement;

          const renderer = new THREE.WebGLRenderer({
            alpha: true,
            antialias: true,
          });
          const clock = new THREE.Clock();
          const scene = new THREE.Scene();
          const camera = new THREE.PerspectiveCamera();
          const directionalLight = new THREE.DirectionalLight("white", 4);
          const ambientLight = new THREE.AmbientLight("white");
          const radiansPerSecond = THREE.MathUtils.degToRad(15);

          renderer.setPixelRatio(window.devicePixelRatio);
          directionalLight.position.set(-10, 0, 10);
          camera.position.z = 300;

          const Globe = new ThreeGlobe({})
            .atmosphereColor("LightSlateGray")
            .globeImageUrl("/images/map-texture.png")
            .polygonsData(
              countries.features.filter((d) => d.properties.ISO_A2 !== "AQ"),
            )
            .polygonCapColor(() => "#d1fae5")
            .polygonSideColor(() => "rgba(148, 163, 184, 1)")
            .polygonStrokeColor(() => "#1E293B")
            .polygonAltitude(() => 0.025);

          function setSize(
            container: HTMLDivElement,
            camera: THREE.PerspectiveCamera,
            renderer: THREE.WebGLRenderer,
          ) {
            camera.aspect = container.clientWidth / container.clientHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(container.clientWidth, container.clientHeight);
          }

          setSize(globeDiv, camera, renderer);
          scene.add(Globe, directionalLight, ambientLight);
          globeDiv.append(renderer.domElement);

          function tick(delta: number) {
            Globe.rotation.y += delta * radiansPerSecond;
          }

          function nextTick() {
            const delta = clock.getDelta();
            tick(delta);
          }

          function start() {
            nextTick();
            renderer.render(scene, camera);
          }

          window.addEventListener("scroll", () => {
            const threshold =
              contactsContainer.offsetTop - contactsContainer.clientHeight;
            if (scrollY < threshold) {
              renderer.setAnimationLoop(null);
            } else if (scrollY >= threshold) {
              renderer.setAnimationLoop(start);
            }
          });

          window.addEventListener("resize", () => {
            setSize(globeDiv, camera, renderer);
          });
        });

        observer.disconnect();
      }
    }
  });

  observer.observe(contactsContainer);
</script>
