---
import "@assets/styles/loader.css";

if (import.meta.env.DEV) return;
---

<div
  id="init-loader"
  class="fixed left-0 top-0 z-50 flex h-full w-full flex-col items-center justify-center gap-4 bg-neutral-50 text-neutral-500 transition-opacity duration-500
  ease-in dark:bg-slate-800 dark:text-white"
>
  <div class="loader"></div>
  <p class="text-center text-2xl">Loading... please wait.</p>
</div>
<script>
  import { sleep } from "@utils/sleep";

  const loader = document.querySelector("#init-loader");

  window.addEventListener("load", async () => {
    if (loader) {
      loader.classList.add("opacity-0");
      await sleep(500);
      loader.remove();
    }
  });
</script>
