---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Header from "@ui/Header.astro";
import Footer from "@ui/Footer.astro";

import person404 from "@assets/images/404_person.svg";
import landscape404 from "@assets/images/404_landscape.svg";
---

<Layout title="Billy Le | Not Found" description="Not Found">
  <Header />
  <main class="min-h-[580px] md:min-h-[768px] grid place-items-center">
    <div class="space-y-4">
      <h2 class="text-5xl text-slate-800 dark:text-emerald-300">Oh no!</h2>
      <p class="text-gray-600 dark:text-gray-300">
        Sorry the page you are looking for doesn't exist.
      </p>
      <div class="h-[400px]">
        <Image
          src={person404}
          class="h-full w-full dark:hidden"
          format="webp"
          alt="Vector illustration of a man with binoculars"
        />
        <Image
          src={landscape404}
          class="hidden h-full w-full dark:block"
          format="webp"
          alt="Vector illustration of a nature landscape"
        />
        <h4 class="text-gray-500 text-xs link-hover dark:text-gray-100">
          <a href="https://storyset.com/online">Image by storyset</a>
        </h4>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
