---
import { Image } from "astro:assets";
import Header from "@ui/components/Header.astro";
import Footer from "@ui/components/Footer.astro";
import BackdropRadial from "@ui/components/BackdropRadial.astro";

import img404NotFound from "@assets/images/404_not_found.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="404 | Not Found" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href="/404.html" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Billy Le | Blog"
      href={`${Astro.site}rss.xml`}
    />
    <script
      defer
      data-domain="billyle.dev"
      src="https://plausible.billyle.dev/js/script.js"></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        window.plausible("404", {
          props: { path: document.location.pathname },
        });
      });
    </script>
    <title>Billy Le | 404 Not Found</title>
  </head>
  <body class="relative min-h-screen font-inter">
    <Header />
    <main class="py-40">
      <BackdropRadial />
      <div class="grid place-items-center">
        <div class="space-y-4">
          <h2 class="text-5xl text-slate-800 dark:text-emerald-300">Oh no!</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Sorry the page you are looking for doesn't exist.
          </p>
          <Image
            src={img404NotFound}
            class="mx-auto h-full max-w-80"
            format="avif"
            alt="404 not found"
            quality="low"
          />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
