---
import "@assets/styles/global.css";

import { Image } from "astro:assets";
import Header from "@ui/components/Header.astro";
import Footer from "@ui/components/Footer.astro";
import BackdropRadial from "@ui/components/BackdropRadial.astro";

import img500InternalServerError from "@assets/images/500_internal_server_error.png";

interface Props {
  error: unknown;
}

const { error } = Astro.props;

let errorMessage = "";

if (error instanceof Error) {
  errorMessage = error.message;
} else if (typeof error === "string") {
  errorMessage = error;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="500 | Internal Error" />
    <script is:inline>
      const theme =
        (localStorage.getItem("theme") ??
        window.matchMedia("(prefers-color-scheme: dark)").matches)
          ? "dark"
          : "light";
      document.documentElement.dataset.theme = theme;
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href="/500.html" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Billy Le | Blog"
      href={`${Astro.site}rss.xml`}
    />
    {
      import.meta.env.PROD && (
        <script
          defer
          data-domain="billyle.dev"
          src="https://plausible.billyle.dev/js/script.js"
        />
      )
    }
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        window.plausible("500", {
          props: { path: document.location.pathname },
        });
      });
    </script>
    <title>Billy Le | 500 Internal Server Error</title>
  </head>
  <body class="font-inter relative min-h-screen">
    <Header />
    <main class="py-40">
      <BackdropRadial />
      <div class="grid place-items-center">
        <div class="space-y-4">
          <h2 class="text-5xl text-slate-800 dark:text-emerald-300">Oh no!</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Sorry, there was an internal server error.
          </p>
          <Image
            src={img500InternalServerError}
            class="mx-auto h-full max-w-80"
            format="avif"
            alt="500 internal server error"
            quality="low"
          />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
