---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Home from "@components/Home.astro";
import Work from "@components/Work.astro";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
import Contact from "@components/Contact.astro";
import Footer from '@components/Footer.astro';
---

<Layout title="Billy Le">
  <Header />
  <main>
    <Home className="min-h-screen" />
    <Work />
    <About className="min-h-screen 2xl:min-h-full" />
    <Projects className="bg-slate-400 min-h-screen 2xl:min-h-full" />
    <Contact className="min-h-screen 2xl:min-h-full" />
  </main>
  <Footer />
</Layout>
<style is:global>
  .text-heading {
    @apply text-slate-800 opacity-0 mb-4;

    font-size: clamp(2rem, 5vw, 10rem);
    font-family: Vidaloka;
  }

  .text-body {
    @apply text-slate-600;

    font-size: clamp(1rem, 1vw, 2rem);
  }

  .link-hover {
    position: relative;
    width: max-content;

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: -.1em;
      height: 2px;
      width: 0;
      transition: width .2s ease-in;
    
      
      @apply bg-gradient-to-r from-green-300 to-green-400;
    }

    &:hover::after {
      width: 100%;
    }
  }

  @keyframes text-fade-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    const headingObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const target = entry.target as HTMLElement;
        if (entry.isIntersecting && !target.style.animation) {
          target.style.animation = "text-fade-in forwards .7s";
        }
      });
    });

    const paragraphsObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const target = entry.target as HTMLElement;
        if (entry.isIntersecting) {
          const paragraphs = target.querySelectorAll("p");
          for (let i = 0; i < paragraphs.length; i++) {
            const paragraph = paragraphs[i];
            if (paragraph) {
              paragraph.style.animation = `text-fade-in forwards .4s ${
                i * 0.2 + 0.8
              }s`;
            }
          }
        }
      });
    });

    const headings = document.querySelectorAll("h2");
    const paragraphSection = document.querySelectorAll(".p-fade");
    for (const heading of headings) {
      headingObserver.observe(heading);
    }

    for (const section of paragraphSection) {
      paragraphsObserver.observe(section);
    }
  });
</script>
