---
import Layout from "@layouts/Layout.astro";
import Header from "@ui/Header.astro";
import Home from "@ui/Home.astro";
import Work from "@ui/Work.astro";
import Skills from "@ui/Skills.astro";
import Projects from "@ui/Projects.astro";
import About from "@ui/About.astro";
import Contact from "@ui/Contact.astro";
import Footer from "@ui/Footer.astro";
---

<Layout
  title="Billy Le | Personal Site"
  description="I'm a JavaScript full-stack developer with a focus on front-end development. I mainly work with React and have other technical skills which includes but not limited to Node, and NoSQL Databases. Find out more through my site."
>
  <Header />
  <main>
    <Home className="min-h-[580px] md:min-h-screen" />
    <Work />
    <About className="md:min-h-screen" />
    <Skills className="md:min-h-[640px]" />
    <Projects className="md:min-h-[640px] bg-slate-400 dark:bg-slate-900" />
    <Contact className="md:min-h-[640px]" />
  </main>
  <Footer />
</Layout>
