---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Home from "@components/Home.astro";
import Work from "@components/Work.astro";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Billy Le">
  <Header />
  <main>
    <Home className="min-h-[580px] md:min-h-[768px]" />
    <Work />
    <About className="md:min-h-[768px]" />
    <Projects className="md:min-h-[768px] bg-slate-400" />
    <Contact className="md:min-h-[768px]" />
  </main>
  <Footer />
</Layout>
