---
interface Props {
  className?: string;
}

import { Picture } from "astro:assets";

import blobOffset from "@assets/images/blob-offset.png";
import mePic from "@assets/images/me.png";

const about = [
  "Coding isn't the only thing I love to do - I also enjoy playing with my dogs, learning about investments and finance, reading books, and watching TV shows.",
  "Occasionally, when the mood is just right, I take a drive into the mountains for a scenic cruise or enjoy a nice hike.",
  "Most of all, if I could leisure endlessly, I would find myself in another country, immersed in their food and culture.",
];

const { className = "" } = Astro.props;
---

<section id="about" class={`relative ${className}`}>
  <div class="container flex h-full flex-col py-8">
    <h2 class="text-heading no-js no-js">About.</h2>
    <div class="relative h-full">
      <div class="grid gap-8 md:grid-cols-5 lg:grid-cols-3">
        <div class="relative mx-auto md:col-span-3 lg:col-span-2">
          <Picture
            src={blobOffset}
            height={500}
            width={500}
            format="webp"
            class="dark:opacity-15"
            alt=""
            aria-hidden="true"
            role="presentation"
            loading="lazy"
          />
          <Picture
            src={mePic}
            widths={[320, 640, 768, 1024]}
            class="absolute top-0 max-h-full object-contain"
            alt="Billy Le smiling in a gray t-shirt"
            loading="lazy"
          />
        </div>

        <div
          class="p-fade flex flex-col justify-center space-y-6 md:col-span-2 lg:col-span-1"
        >
          {
            about.map((text) => (
              <p class="text-body no-js opacity-0 md:mix-blend-multiply lg:mix-blend-normal">
                {text}
              </p>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
