---
interface Props {
  className?: string;
}

import { Picture } from "astro:assets";

import Particles from "@ui/components/Particles.astro";
import blob from "@assets/images/blob.webp";

const jumboText = [
  "I'm a front-end developer who transforms simple code into complex applications.",
  "React apps are my primary focus, but I'm always up for a challenge.",
  "To learn more, feel free to look around.",
];

const { className = "" } = Astro.props;
---

<section id="home" class={`relative flex items-center ${className}`}>
  <Particles />
  <div class="container relative flex w-full flex-col justify-center">
    <Picture
      src={blob}
      widths={[320, 640, 768]}
      format="webp"
      class="blob dark:opacity-20"
      alt=""
      aria-hidden="true"
      loading="lazy"
      role="presentation"
    />
    <h2 class="text-heading dark:text-white">Hello. I'm Billy.</h2>
    <h1 class="p-fade space-y-2">
      {
        jumboText.map((text) => (
          <span class="text-body no-js block">{text}</span>
        ))
      }
    </h1>
  </div>
</section>
<style>
  .blob {
    z-index: -1;
    position: absolute;
    left: -10%;
    width: clamp(400px, 50vw, 800px);
    height: clamp(400px, 50vw, 800px);
  }
</style>
<script>
  const blob1 = document.querySelector(".blob") as HTMLDivElement;
  function shiftObjects() {
    blob1.style.transform = `translateY(-${scrollY / 4}px)`;
  }
  window.addEventListener("scroll", shiftObjects);
</script>
