---
---
<section id="projects" class="relative min-h-screen h-full bg-slate-400">
  <div class="container mx-auto h-full flex flex-col py-8">
    <h2 class="opacity-0 text-slate-800 mb-4">Projects.</h2>
    <div class="flex flex-wrap gap-2">
      <!-- <ProjectCard /> -->
    </div>
  </div>
</section>
