---
import Mound from "@components/Mound.astro";
import Idea from "@components/Idea.astro";
import Strategize from "@components/Strategize.astro";
import Collab from "@components/Collab.astro";
import Develop from "@components/Develop.astro";
import Feedback from "@components/Feedback.astro";
import Feature from "@components/Feature.astro";
---

<section id="services" class="relative min-h-screen h-full">
  <div class="container mx-auto h-full flex flex-col py-8">
    <h2 class="opacity-0 text-slate-800 mb-4">Services.</h2>
    <div class="flex flex-wrap justify-between">
      <Idea />
      <Strategize />
      <Collab />
      <Develop />
      <Feedback />
      <Feature />
    </div>
  </div>
  <div class="min-h-screen sticky bottom-0 flex flex-col-reverse">
    <Mound className="w-full " />
  </div>
</section>
<script>
  const servicesPage = document.querySelector("#services") as HTMLDivElement;
  const servicesHeading = servicesPage.querySelector(
    "h2"
  ) as HTMLHeadingElement;
  function stickHeading() {
    if (servicesHeading.offsetTop <= scrollY) {
      servicesHeading.classList.add(...["sticky", "top-0"]);
    } else {
      servicesHeading.classList.remove(...["sticky", "top-0"]);
    }
  }

  window.addEventListener("load", () => {
    if (servicesHeading.offsetTop <= scrollY) {
      servicesHeading.classList.add(...["sticky", "top-0"]);
    }
  });

  window.addEventListener("scroll", stickHeading);
</script>
